* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(27, 27, 27);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}

.card-image {
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;

}

.car-1 {
    background-image: url(https://images.pexels.com/photos/8911015/pexels-photo-8911015.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.car-2 {
    background-image: url(https://stimg.cardekho.com/images/carexteriorimages/930x620/Mercedes-Benz/AMG-G-63/9737/1679289361128/front-left-side-47.jpg?tr=w-420)
}

.car-3 {
    background-image: url(https://media.istockphoto.com/id/489489224/photo/bugatti-chiron.jpg?s=612x612&w=0&k=20&c=YaSnvYbA1VnLpazYy1JhJorMZm2DAJtqR_W340SpX1U=);
}

.card p {
    padding: 10px;
}

.card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card:hover{
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}